@use "../abstracts" as *;

header {
  // margin-bottom: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
  .header-bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(10, 10, 10, 0.85), rgba(10, 10, 10, 0.85)),
      url(../images/bg.png) center/cover no-repeat fixed;
  }

  .wrapper {
    h1 {
      background: linear-gradient(
        to bottom right,
        $primary 0%,
        rgb(254, 235, 162) 45%,
        rgb(255, 255, 255) 100%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
