@use "../abstracts" as *;

body {
  background-color: $primary;
}

nav {
  box-shadow: 0px 5px 10px 0px rgba(201, 167, 39, 0.3);
  .logo {
    width: 50px;
    display: block;
  }

  .nav-button {
    @include button;
    &:hover {
      background-color: transparent;
    }
  }

  .nav-underline {
    &:after {
      content: "";
      width: 0%;
      height: 2px;
      background: rgb(47, 46, 56);
      display: block;
      margin: auto;
      transition: 0.35s ease;
      margin-top: 2px;
    }
    &:hover:after {
      width: 100%;
    }
  }
}
